@model IEnumerable<MidTest.Net.Data.TranDau>

@{
    ViewData["Title"] = "Danh sách trận đấu";
}

<h1>Danh sách trận đấu</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoBanThangA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoBanThangB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoBanThangA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoBanThangB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiA.TenDoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiB.TenDoi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
