@model MidTest.Net.Data.CauThu

@{
    ViewData["Title"] = "Xoá";
}

<h1>Xoá</h1>

<h3>Bạn muốn xoá cầu thủ được chọn?</h3>
<div>
    <h4>Cầu thủ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCauThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCauThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiBong.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTri.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
