@model MidTest.Net.Data.CauThu

@{
    ViewData["Title"] = "Chi tiết cầu thủ";
}

<h1>Chi tiết</h1>

<div>
    <h4>Chi tiết cầu thủ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCauThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCauThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiBong.TenDoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTri.TenViTri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
