@model MidTest.Net.Data.CauThu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CauThu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCauThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCauThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoiBong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoiBong.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTri.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
