@model IEnumerable<MidTest.Net.Data.CauThu>

@{
    ViewData["Title"] = "Dánh sách cầu thủ";
}

<h1>Danh sách cầu thủ</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCauThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoAo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiBong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViTri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCauThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoAo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiBong.TenDoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri.TenViTri)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
