@model IEnumerable<MidTest.Net.Data.ChiTietTranDau>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoBanThang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CauThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranDau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoBanThang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauThu.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranDau.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
